<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Howdy!</h1>
    <p>
      You have successfully checked out <%= @item %>.<br>
    </p>
    <p>Please follow these policies.</p>
  </body>
</html>
