<h1>Editing maintenance item</h1>

<%= render "form", maintenance_item: @maintenance_item %>

<br>

<div>
  <%= link_to "Show this maintenance item", @maintenance_item %> |
  <%= link_to "Back to maintenance items", maintenance_items_path %>
</div>
