<div id="<%= dom_id item %>">
  <p>
    <strong>Item Name:</strong>
    <%= item.name %>
    <strong>Serial Number:</strong>
    <%= item.serial_number %>
    <strong>Available?</strong>
    <%= item.available %>
  </p>

</div>