<h1>Transaction Details</h1>

<%= render @transaction %>



<div>
  <%= link_to "Edit this transaction", edit_transaction_path(@transaction) %> |
  <%= link_to "Delete this transaction", delete_transaction_path(@transaction) %> |
  <%= link_to "Back to transactions", transactions_path %>
</div>
